body{
    font-family: Arial, Helvetica, sans-serif;
}

.global-wrapper{
    width: 1280px;
    margin: auto;
}

.ramda-on-top{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 80px;
    margin: 30px 0 20px 0;
}

.blue-part-of-ramda{
    color: #4BCAFF;
}

.flex-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #35444F;
    margin: 0 0 40px 0;
}

.flex-header ul{
    margin: 0;
    padding: 0;
    font-size: 0;
}

.flex-header ul li{
    display: inline-block;
    list-style-type: none;
    padding: 15px 25px;
    border-left: 1px solid white;
    transition: all .1s ease;
}

.flex-header ul li:hover{
    background-color: #222F3A;
    transition: all .1s ease;
}

.flex-header ul li a{
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.flex-header ul li:last-child{
    border-right: 1px solid white;
}

.flex-aside{
    display: flex;
    justify-content: flex-start;
    min-width: 30%;
    align-items: center;
    border: 1px solid black;
}

.flex-aside ul{
    flex: 1;
    margin: 0;
    padding: 0;
}

.flex-aside ul li{
    list-style-type: none;
    padding: 17px;
    transition: all .3s ease;
}

.flex-aside ul li a{
    color: #495863;
    text-decoration: none;
    font-size: 27px;
    margin-left: 20px;
}

.flex-aside ul li:hover{
    background-color: #DBDBDB;
    padding-left: 3em;
    transition: all .3s ease;
}

.flex-aside ul li:hover a{
    color: black;
    transition: all .3s ease;
}

.wrapper{
    display: flex;
    gap: 40px;
    align-items: flex-start;
    margin-bottom: 30px;
}

.main-content{
    font-size: 18px;
}

.main-image-container{
    border: 1px solid black;
    height: 429px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image{
    transition: all .3s ease;
}

.main-image:hover{
    transform: scale(1.5);
    transition: all .2s ease;
}

.main-article{
    margin: 30px 0 0 0;
}

.flex-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #63696E7A;
    margin-bottom: 25px;
}

.flex-footer ul{
    padding: 0;
    margin-left: 50px;
}

.flex-footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.flex-footer ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    transition: all .1s ease;
}

.flex-footer ul li a:hover{
    color: #3181A6;
    padding-bottom: 6px;
    border-bottom: 1px solid #3181A6;
    transition: all .1s ease;
}

.footer-copyright{
    margin-right: 65px;
}
